
@model ViewModel.UserViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    .custom-navbar {
        background-color: grey;
    }
</style>

@Html.HiddenFor(model => model.UserTypeId, new { id = "UserTypeId" })

@Html.HiddenFor(model => model.UserId, new { id = "UserId" })
<div id="cardBody" style="margin-top: 30px;">


    @Html.Raw(ViewBag.CardHtml)
</div>

<script>
    
    //alert($("#UserId").val());
    //alert($("#UserId").val());
</script>
