
@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>Register Success</h2>

<div class="alert alert-success">
    Registration was successful. You are now a registered user!
</div>

<p>Click here to <a href="@Url.Action("Login", "Account")">login</a></p>






