@model ViewModel.ShowTimeViewModel
@{
    ViewBag.Title = "BookingSuccessful";
    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div> <p> yay! Your Booking is successful</p></div>

<div style="float:right; padding-top:15px; padding-bottom:5px"><button class="btn btn-sm btn-primary" onclick="PrintTicket()">Print Ticket</button></div>
<script>

    //alert(id);


    function PrintTicket() {


        
    var id = '@ViewBag.PrintId';


    url = "/ShowTime/PrintTictetToPdf?id=" + id;
    window.open(url, '_blank');
}




</script>

