@model ViewModel.ShowTimeViewModel
@{
    ViewBag.Title = "BookingSuccessful";
    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>BookingSuccessful @ViewBag.PrintId</h2>

<script>
    var id = '@ViewBag.PrintId';
    alert(id);
</script>

