@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Show Time List</h2>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="d-flex justify-content-between align-items-center mb-3">
    <div style="float: left; ">
        <input style="width: 300px;" type="text" id="ShowSearchText" placeholder="Search Show" onkeyup="SortShowTable()" />
    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="ManageShow(0)"><i class="fa fa-plus"></i>&nbsp;Add New Show</button>
    </div>

</div>



<div id="showKendoGrid">
    @(Html.Kendo().Grid<ViewModel.ShowTimeViewModel>()
     .Name("showGrid")
     .Columns(columns =>
     {
         columns.Bound(c => c.Title).Title("Movie").Width(100).Sortable(true).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
         columns.Bound(c => c.StartDate).Title("Start Date").Width(100).Sortable(true).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
         columns.Bound(c => c.EndDate).Title("End Date").Width(100).Sortable(true).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
         columns.Bound(c => c.FirstShowTime).Title("First Show Time").Width(100).Sortable(true).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
         columns.Bound(c => c.SecondShowTime).Title("Second Show Time").Width(100).Sortable(true).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
         columns.Bound(c => c.ThirdShowTime).Title("Third Show Time ").Width(100).Sortable(true).HeaderHtmlAttributes(new { style = "font-weight:bold;" });

         columns.Bound("").ClientTemplate(@"<a style='cursor: pointer' title='Book Ticket' onclick='BookShow(#=ShowTimeId#)'><i class='fa fa-ticket'></i></a>").Width(30).Sortable(false).Filterable(false);
         columns.Bound("").ClientTemplate(@"<a style='cursor: pointer' title='Edit' onclick='ManageShow(#=ShowTimeId#)' id='editAnchor_#=ShowTimeId#'><i class='fa fa-pencil'></i></a>").Width(30).Sortable(false).Filterable(false);
         columns.Bound("").ClientTemplate(@"<a style='cursor: pointer' title='Delete' onclick='DeleteShowTime(#=ShowTimeId#)'><i class='fa fa-trash'></i></a>").Width(30).Sortable(false).Filterable(false);



     })
     .Sortable()
     .DataSource(dataSource => dataSource
         .Ajax()
         .Read(read => read.Action("GetShowTime", "ShowTime"))
     )
 )
</div>

<div style="padding-top: 50px">

    <a href="/ShowTime/BookTicketIndex" class="btn btn-primary">
        <i class="fa fa-arrow-right"></i>&nbsp;Go to Bookings
    </a>



    <div style="float: right; ">
        <a href="/ShowTime/MyBookings" class="btn btn-primary">
            <i class="fa fa-arrow-right"></i>&nbsp;My Bookings
        </a>

    </div>
</div>


    <script>


    @*@if (TempData["ManageSuccessShow"] != null && (bool)TempData["ManageSuccessShow"])
    {
        <text>
            CloseManageShowTime();
        </text>
    }*@


    var LanguageWindow;
    var searchString = "";
    function ManageShow(ShowTimeId) {
        var url = '';
        var title = "";

        try {
            if (ShowTimeId == 0) {
                url = '/ShowTime/Manage';
                title = "Add Show";
            }
            else {
                url = '/ShowTime/Manage?ShowTimeId=' + ShowTimeId;
                title = "Edit Show ";
            }

            LanguageWindow = OpenConfirmWindowModal(url, title, 850);
            return;
        } catch (e) {
            alert(e);
        }
    }
    function CloseManageShowTime() {
        LanguageWindow.close();
        $('#showGrid').data('kendoGrid').dataSource.read();
    }

    function SortShowTable() {
        var searchText = $("#ShowSearchText").val();

        var showGridData = $('#showGrid').data('kendoGrid')._data;
        var idCol = 'ShowTimeId'

        for (var i = 0; i < showGridData.length; i++) {

            var showId = showGridData[i][idCol] * 1;
            var anchor = document.getElementById('editAnchor_' + showId);
            var row = $(anchor).closest('tr');

            row.hide();

            var a = 'Title';
            var x = showGridData[i][a];

            if (x.toLowerCase().includes(searchText.toLowerCase())) {
                row.show();
            }
        }
    }

    function DeleteShowTime(ShowTimeId) {
        var url = '';
        var title = "";

        try {
            url = '/ShowTime/Delete?ShowTimeId=' + ShowTimeId;
            title = "Delete ShowTime";
            LanguageWindow = OpenConfirmWindowModal(url, title, 450);
            return;
        } catch (e) {
            alert(e);
        }
        $('#showGrid').data('kendoGrid').dataSource.read();
    }

    function BookShow(ShowTimeId) {
        var url = '';
        var title = "";

        try {

            url = '/ShowTime/BookTicket?ShowTimeId=' + ShowTimeId;
            title = "Book Show ";

            LanguageWindow = OpenConfirmWindowModal(url, title, 850);
            return;
        } catch (e) {
            alert(e);
        }
    }
    function CloseManageShowTime() {
        LanguageWindow.close();
        $('#showGrid').data('kendoGrid').dataSource.read();
    }



    </script>
