.popup-col-left {
    margin-right: 15px;
    width: 49%;
    float: left;
}

.popup-col-right {
    width: 49%;
    float: left;
}

.popup-col {
    width: 100%;
    float: left;
}

.form-group {
    height: 70px;
}

.form-control {
    width: 100% !important;
    padding: 5px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control-password {
    width: 100% !important;
    padding: 8px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
}
